*{
    margin:0;
    padding:0;
    border:0;
}
html{}
.container{
    width:1330px;height:800px;border:solid 1px #ccc;z-index:0;
    /*background-image:url(images/xiaofang.png)*/
}

body{
    z-index:2;
}




#div1 {
    width:30em;
    height:20em;
    border:solid 1px #ccc;
    margin:5em;
    /*overflow:hidden;*/
    position:relative;
}


/******************************/
#div1 dl{
    position:absolute;
    width:200%;
    height:100%;
    left:0;
}

#div1 dd{
    width: 50%;
    height: 100%;
    position:relative;
    float:left;
    /*background:url(images/pic1.jpg) no-repeat;*/
}
/******************************/


















body {

}






