


.flastP{
    float:left;
}

.lastP{
    float:left;
}

.nextP{
    float:left;
}

.fnextP{
    float:left;
}
.ulP{
    list-style:none;
}

.ulP li{
    float:left;
    cursor:pointer;
    margin-left:8px;


}


.ulP li.currP{
    color:#389edc;


}


















